<!doctype html>
<html style="height: 100%">
	<title>Session Pi Encoder</title>
	<h1>Session Pi Encoder</h1>
	<head>
		<link href="{{url_for('static', filename='SPEncoder.css') }}" type="text/css" rel="stylesheet" />
	</head>
	<body style="height: 100%">
		<!-- Loading jQuery and custom JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery-3.3.1.min.js') }}">\x3C/script>')</script>
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script src="{{url_for('static', filename='SPEncoder.js') }}"></script>

		<!-- Main body of page -->
		<div id="wrapper-row">
			<div id="left-col" class="column">
				<h2>Session-Typed Pi Calculus</h2>
				<textarea id="sepi"></textarea>
			</div>
			<div id="right-col" class="column">
				<h2>Linear-Typed Pi Calculus</h2>
				<textarea id="lipi"></textarea>
			</div>
		</div>
		<div id="button-row">
			<div>
				<button id="run-sepi" disabled title="Also typechecks before executing">Execute</button>
				<button id="tc-sepi" disabled>Typecheck</button>
			</div>
			<div class="splitter">
				<button id="encode" disabled title="Also typechecks while encoding">Encode</button>
			</div>
			<div>
				<button id="run-lipi" disabled title="Also typechecks before executing">Execute</button>
				<button id="tc-lipi" disabled>Typecheck</button>
			</div>
		</div>
		<div id="wrapper-row">
			<div id="left-col" class="column">
				<div class="terminal">
					<div id="term-header">Session Pi Terminal</div>
					<div id="sepi-term"></div>
				</div>
			</div>
			<div id="right-col" class="column">
				<div class="terminal">
					<div id="term-header">Linear Pi Terminal</div>
					<div id="lipi-term"></div>
				</div>
			</div>
		</div>
	</body>
</html>