html {
	height:				100%;
}

body {
	height:				100%;
	background:			#262b35;
}

h1 {
	color:				#c695bd;
}

h2 {
	color:				#c695bd;
}

.terminal {
	flex:				1;
	padding:			10px;
	background:			#1f252a;
	color:				#ffffff;
	font-family:		monospace;
	font-size:			1em;
	font-weight:		bold;
	overflow:			scroll;
}

#term-header {
	color:				#6699cc;
}

#sepi-term {
	white-space: 		pre-wrap;
}	

#lipi-term {
	white-space: 		pre-wrap;
}

textarea {
	flex:				1;
	background:			#343d46;
	border-color:		#2c333a;
	border-style:		solid;
	color:				#d8dee9;
	white-space: 		pre;
	font-family: 		monospace;
}

.column {
	display:			flex;
	flex:				1;
	flex-flow:			column nowrap;
}

.splitter {
	display:			flex;
	flex-shrink:		0;
	align-items:		center;
}

#wrapper-row {
	display:			flex;
	flex:				1;
	height:				50%;
}

#button-row {
	display:			flex;
	justify-content: 	space-between;
}

.error {
	color:				#ec5f66;
}

.success {
	color:				#f9ae58;
}